
@{
    ViewBag.Title = "UserAdmin";
}

<h2>UserAdmin</h2>


<div id="body">
    @Html.AntiForgeryToken()

    <table class="table table-hover" id="Users" >
        <thead>
            <tr>
                <th>UserName</th>
                <th> Name </th>
                <th> Email </th>
            </tr>
        </thead>

        <tbody data-bind="foreach: User">
            <tr>
                <td data-bind="text: UserName"></td>
                <td data-bind="text: FirstName"></td>
              
                
                       
               

                <td>
                    <button type="button" class="btn-success"  data-bind="click: $root.edit">Edit</button>
                    <button type="button" class="btn-danger" data-bind="click: $root.delete">Delete</button>

                </td>
               
            </tr>
        </tbody>

    </table>
<br />

    </div>
<div style="border-top: solid 2px  #282828; width: 430px; height: 10px">&nbsp;</div>

<div data-bind="if: User">
        <h2>Update User</h2>
    <div data-bind="foreach: User().Roles">
        <input type="checkbox"
               data-bind="checked: Selected, text: RoleName">
        <span data-bind="text: RoleName"/>
    </div>

 
        
              

 </div>


    @*<div>
        <label for="name">Role</label>
        <input data-bind="value: User().IdentityRole" type="text" title="Name" />
    </div>*@
  



    <br />
    <div>
        <button class="btn-default" data-bind="click: $root.update">Update</button>
        <button class="btn-default" data-bind="click: $root.cancel">Cancel</button>

    </div>


<div data-bind="ifnot: User">
    <div>
        <h2>Add New User</h2>
    </div>
    <div>
        <label for="UserName">UserName</label>
        <input data-bind="value: $root.UserName" type="text" title="UserName" />
    </div>

    <div>
        <label for="Email">Email</label>
        <input data-bind="value: $root.Email" type="text" title="Email" />
    </div>

    <div>
        <label for="price">Price</label>
        <input data-bind="value: $root.Key" type="text" title="Key" />
    </div>
    <br />
    <div>
        <button type="button" class="btn-info"  data-bind="click: $root.create">Save</button>
        <button type="button" class="btn-info" data-bind="click: $root.reset">Reset</button>

    </div>
</div>



@section Scripts {
    <script src="~/Scripts/knockout-3.0.0.js"></script>

    <script src="~/Scripts/ViewModels/uadmin.js"></script>
}